* {
    box-sizing: border-box;
    
    --text-light: #FFFFFF;
    --text-dark: #000000;

    --bg-light-gray: #EEEEEE;
    --bg-white: #FFFFFF;
    --bg-dark-transparent: #222222;

    --theme-dark: #596D48;

    --gap-row-default: 1rem;
    --gap-column-default: 3rem;

    --input-border-default: #E5E7EB;
    --input-border-focus: #64c8eb;
    --input-border-invalid: #e42929;
}

body {
    margin: 0;
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 5rem;
}

label, input {
    display: block;
}

button {
    background-color: var(--theme-dark);
    color: var(--text-light);
    border-style: none;
    border-radius: 5px;
    padding: 0.7rem 3rem;
}

input {
    padding: 0.2rem 0.5rem;
    outline: none;
    border: 1px solid var(--input-border-default);
    border-radius: 3px;
}

input:focus {
    border-color: var(--input-border-focus);
    box-shadow: 2px 2px #999999;
}

input:invalid {
    border-color: var(--input-border-invalid);
}

.sidebar {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    flex: 0 0 400px;
    color: var(--text-light);
}

.brand-bar img {
    max-height: 5rem;
    display: inline;
}

.page-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-intro, .signup-form-container, .signup-footer {
    padding: 2rem 5rem;
}

.signup-intro, .signup-footer {
    background-color: var(--bg-light-gray);
}

.signup-intro {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
}

.signup-form-container {
    flex: 0 1 auto;
}

.signup-footer {
    flex: 1 1 auto;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--gap-row-default) var(--gap-column-default);
}

.text-input-row {
    display: flex;
    gap: var(--gap-row-default) var(--gap-column-default);
    flex: 1 1 auto;
    max-width: 50rem;
}

.text-input {
    flex: 1 1 auto;
    flex-direction: column;
}